<div class="row">

  <div class="col-3">
    <p>
      Insert Manufacturer
    </p>
    <form [formGroup]="form">
      <label for="name">Name </label>
      <input class="form-control" formControlName="Name" type="text"  placeholder="Enter Name"/>
      <br>
      <button class="btn btn-success" [disabled]="form.invalid" (click)="onSubmit()" >Insert Manufacturer 2 char</button>

    </form>
  </div>
  <div class="col"><p>Click Row to Update</p>
      <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">CREATED DATE </th>
              <th scope="col">MODIFION DATE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let manu of manufacture" (click)="getrow(manu)">
              <th >{{manu.id}}</th>
              <td>{{manu.name}}</td>
              <td>{{manu.createdOn |date:'mediumDate'}}</td>
              <td>{{manu.amendedOn|date:'mediumDate'}}</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div *ngIf="clicked" class="col-3">
          <label for="name">Name </label>
          <input class="form-control" [(ngModel)]="TableRow.name" type="text" placeholder="Enter Name"/>
          <br>
          <button class="btn btn-success"  (click)="update()" >UpdateMAnufacure</button>

  </div>
</div>
