<div class="row">

  <div class="col-3">
    <p>
      Add car
    </p>
    <form [formGroup]="form">
      <input class="form-control" formControlName="model" type="text"  placeholder="Enter Model"/>
      <br>
      <label for="exampleFormControlSelect2"> select Manufacturer</label>
      <select formControlName="manufacturerId" class="form-control" id="exampleFormControlSelect2">
          <option  *ngFor="let manu of Manufacturer" value="{{manu.id}}">{{manu.name}}</option>
        </select>
        <br>
        <label for="exampleFormControlSelect3"> select Engine</label>
        <select formControlName="engineId" class="form-control" id="exampleFormControlSelect3">
            <option  *ngFor="let manu of engine" value="{{manu.id}}">{{manu.model}}</option>
          </select>
          <br>
      <input class="form-control" formControlName="year" type="text"  placeholder="Enter Year"/>
      <br>
      <input class="form-control" formControlName="color" type="text"  placeholder="Enter Color"/>
      <br>
      <input class="form-control" formControlName="quantityInStock" type="number"  placeholder="Enter Quantity"/>
      <br>
      <label for="exampleFormControlSelect1"> Has Rust Damage?</label>
      <select formControlName="hasRustDamage" class="form-control" id="exampleFormControlSelect1">
        <option value=true>Yes</option>
        <option value=false>No</option>

      </select>
      <br>
      <button class="btn btn-success" [disabled]="form.invalid" (click)="onSubmit()" >Insert Car 2 char</button>

    </form>
  </div>
  <div *ngIf="car!=null" class="col-5">
      <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">FIELD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>ID</th>
              <td>{{car.id}}</td>
            </tr>
            <tr>
              <th>Engine ID</th>
              <td>{{car.engineId}}</td>
            </tr>
            <tr>
              <th>Manufacturer ID</th>
              <td>{{car.manufacturerId}}</td>
            </tr>
            <tr>
              <th>Model</th>
              <td>{{car.model}}</td>
            </tr>
            <tr>
              <th>year</th>
              <td>{{car.year}}</td>
            </tr>
            <tr>
              <th>color</th>
              <td>{{car.color}}</td>
            </tr>
            <tr>
              <th>Has Rust Damage</th>
              <td>{{car.hasRustDamage}}</td>
            </tr>
            <tr>
              <th>Type</th>
              <td>{{car.type}}</td>
            </tr>
            <tr>
              <th>Quantity In Stock</th>
              <td>{{car.quantityInStock}}</td>
            </tr>
            <tr>
              <th>Created</th>
              <td>{{car.createdOn|date:'mediumDate'}}</td>
            </tr>
            <tr>
              <th>Modified</th>
              <td>{{car.amendedOn|date:'mediumDate'}}</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div *ngIf="clicked" class="col-3">
<p>Update</p>
    <input class="form-control" [(ngModel)] ="TableRow.model" type="text"  placeholder="Enter Model"/>
    <br>
    <label for="exampleFormControlSelect2"> select Manufacturer</label>
    <select [(ngModel)] ="TableRow.manufacturerId" class="form-control" id="exampleFormControlSelect2">
        <option  *ngFor="let manu of Manufacturer" value="{{manu.id}}">{{manu.name}}</option>
      </select>
      <br>
      <label for="exampleFormControlSelect3"> select Engine</label>
      <select [(ngModel)] ="TableRow.engineId" class="form-control" id="exampleFormControlSelect3">
          <option  *ngFor="let manu of engine" value="{{manu.id}}">{{manu.model}}</option>
        </select>
        <br>
    <input class="form-control" [(ngModel)] ="TableRow.year" type="text"  placeholder="Enter Year"/>
    <br>
    <input class="form-control" [(ngModel)] ="TableRow.color" type="text"  placeholder="Enter Color"/>
    <br>
    <input class="form-control" [(ngModel)] ="TableRow.quantityInStock" type="number"  placeholder="Enter Quantity"/>
    <br>
    <label for="exampleFormControlSelect1"> Has Rust Damage?</label>
    <select [(ngModel)] ="TableRow.hasRustDamage" class="form-control" id="exampleFormControlSelect1">
      <option value="True">Yes</option>
      <option value="False">No</option>

    </select>
    <br>
          <button class="btn btn-success"  (click)="update()" >Update Car</button>

  </div>
</div>
