<div class="row">

    <div class="col-3">
      <p>
        Insert Engine
      </p>
      <form [formGroup]="form">

        <input class="form-control" formControlName="model" type="text"  placeholder="Enter Model"/>
        <br>
        <label for="exampleFormControlSelect2"> select Manufacturer</label>
        <select formControlName="manufacturerId" class="form-control" id="exampleFormControlSelect2">
            <option  *ngFor="let manu of ManufacturerName" value="{{manu.id}}">{{manu.name}}</option>
          </select>
          <br>
        <input class="form-control" formControlName="year" type="text"  placeholder="Enter Year"/>
        <br>
        <input class="form-control" formControlName="mileage" type="number"  placeholder="Enter mileage"/>
        <br>
        <input class="form-control" formControlName="size" type="number"  placeholder="Enter size"/>
        <br>
        <label for="exampleFormControlSelect1"> select Fuel Type</label>
        <select formControlName="fuelType" class="form-control" id="exampleFormControlSelect1">
          <option value="Petrol">Petrol</option>
          <option value="Diesel">Diesel</option>

        </select>
        <br>
        <button class="btn btn-success" [disabled]="form.invalid" (click)="onSubmit()" >Insert Engine 2 char</button>

      </form>
    </div>
    <div class="col"><p>Click Row to Update</p>
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Model</th>
                <th scope="col">Year</th>
                <th scope="col">Mileage</th>
                <th scope="col">Size</th>
                <th scope="col">Fuel Type</th>
                <th scope="col">Man ID</th>
                <th scope="col">CREATED DATE </th>
                <th scope="col">MODIFION DATE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let engine of Engine" (click)="getrow(engine)">

                <td>{{engine.model}}</td>
                <td>{{engine.year}}</td>
                <td>{{engine.mileage}}</td>
                <td>{{engine.size}}</td>
                <td>{{engine.fuelType}}</td>
                <td>{{engine.manufacturerId}}</td>
                <td>{{engine.createdOn |date:'mediumDate'}}</td>
                <td>{{engine.amendedOn|date:'mediumDate'}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div *ngIf="clicked" class="col-3">[(ngModel)]="TableRow.model

      <hr>
      <p>Update</p>
      <input class="form-control" [(ngModel)]="TableRow.model" type="text"  placeholder="Enter Model"/>
      <br>
      <label for="exampleFormControlSelect2"> select Manufacturer</label>
      <select [(ngModel)]="TableRow.manufacturerId" class="form-control" id="exampleFormControlSelect2">
          <option  *ngFor="let manu of ManufacturerName" value="{{manu.id}}">{{manu.name}}</option>
        </select>
        <br>
      <input class="form-control" [(ngModel)]="TableRow.year" type="text"  placeholder="Enter Year"/>
      <br>
      <input class="form-control" [(ngModel)]="TableRow.mileage" type="number"  placeholder="Enter mileage"/>
      <br>
      <input class="form-control" [(ngModel)]="TableRow.size" type="number"  placeholder="Enter size"/>
      <br>
      <label for="exampleFormControlSelect1"> select Fuel Type</label>
      <select [(ngModel)]="TableRow.fuelType" class="form-control" id="exampleFormControlSelect1">
        <option value="Petrol">Petrol</option>
        <option value="Diesel">Diesel</option>

      </select>

            <br>
            <button class="btn btn-success"  (click)="update()" >UpdateEngine</button>

    </div>
  </div>
